<footer>
  <div class="footer">
    <a href="#" target="_blank"><i class="fab font-icon fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab font-icon fa-twitter"></i></a>
    <a href="/contact" target="_blank"><i class="fas font-icon fa-envelope"></i></a>
    <!-- <p>Website Design: Raymond Quicho</p> -->
    <p>Copyright &copy <span id="currentYear"></span></p>
    <script>
      document.getElementById("currentYear").innerHTML = new Date().getFullYear();
    </script>
  </div>
</footer>
