<%- include("partials/header.ejs"); -%>

<h1 class="page-title">About</h1>

<div class="middle-container about">
  <div class="media">
    <img src="./images/bio_img.jpg" class="align-self-start mr-3 bio-img" alt="bio-img">
    <div class="media-body">
      <h5 class="mt-0">Bio</h5>
      <p>I am of Filipino and Mexican decent and grew up in a community that embraces the Filipino and Mexican culture. This environment helped shape how I view diverse communites and how important culture plays a role in daily life.</p>

      <p>I am a writer and educator from San Diego, California. My work centers on expressing my narrative and my community's narrative through storytelling and poetry. I aim to articulate my struggles, my joys, my frustations and my peace.</p>

      <p>Obtaining a Bachelors degree in "..." at San Diego State (SDSU) and a Master degree in "..." at San Francisco State University (SFSU) has led me to teaching. I have worked with University of California, San Diego (UCSD) as a "..." for
        their "..." outreach program and was able to work with "..." adolecents to prepare them for college. I was fortunate enough to gain an opportunity to work in Madrid for "..." school as a "..." During my time in Madrid, I "..."
        Unfortunately, my time was cut short due to Covid-19. Luckily, I was able to safely return to the states. Currently, I am "..." for "..." in Maui. </p>

      <p>My work and studies took me around the world and allowed me to live and teach in San Diego, San Francisco, Madrid, and now, Maui.</p>
    </div>
  </div>

  <div>
    <br />
    <h5>Intentions</h5>
    <p>I am both a practitioner and teacher of writing. My professional skills and roles are diverse but my aim is the same: to engage various audiences through persuasive arguments and dynamic presentations in order to communicate ideas. As a poet, I publish my own personal work in order to share my own narrative and express mine and my communities experience. As a copy writer, I create compelling written products to engage my client's specific audiences. As an educator, I am passionate about teaching my students the crucial literacy, cultural, and social skills needed to access and navigate higher education and professional world.</p>
  </div>
</div>



<%- include("partials/footer.ejs"); -%>
