<%- include("partials/header.ejs"); -%>

<h1 class="page-title">Articles</h1>

<div class="middle-container articles">
  <div class="links">

    <div class="single-link">
      <h4><a href="/404" target="_blank">"Learning Through Protest: Language of Critique and Language of Possibility"</a></h4>
      <label>Dialogues for Social Justice: An Adult Educational Journal</label>
    </div>

    <div class="single-link">
      <h4><a href="https://equality.org/the-inequity-of-student-loans/" target="_blank">"The Inequity of Student Loans"</a></h4>
      <label>Equality.org</label>
    </div>

    <div class="single-link">
      <h4><a href="/404" target="_blank">"Interview"</a></h4>
      <label>Mud Season Review</label>
    </div>

  </div>
</div>



<%- include("partials/footer.ejs"); -%>
