<%- include("partials/header.ejs"); -%>

<h1 class="page-title">Contact</h1>

<div class="middle-container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <div class="contact-info">
        <h4>Email</h4>
        <p>tomas.c.nieto@gmail.com</p>
        <h4>Phone</h4>
        <p>(XXX) XXX-XXXX</p>
      </div>
    </div>
    <div class="col-5">
      <img class="contact-img" src="./Images/contact_img.jpg" alt="contact-img" />
    </div>
    <div class="col-1"></div>
  </div>
</div>


<%- include("partials/footer.ejs"); -%>
