<%- include("partials/header.ejs"); -%>

<h1 class="page-title">Essays</h1>

<div class="middle-container essays">
  <div class="links">

    <div class="single-link">
      <h4><a href="https://solsticelitmag.org/content/sariling-atin-our-very-own-we-are-our-stories/" target="_blank">"Sariling Atin"</a></h4>
      <label>Solstice Magazine</label>
      <br />
      <label>Solstice Selects Two Years of Diverse Voices Anthology</label>
    </div>

    <div class="single-link">
      <h4><a href="https://therumpus.net/2017/11/kundiman-for-a-ghost/" target="_blank">"Kundiman for a Ghost"</a></h4>
      <label>The Rumpus</label>
      <br />
      <label>Wild Gods Anthology: New River Press (Minnesota State University)</label>
    </div>

  </div>
</div>


<%- include("partials/footer.ejs"); -%>
