<%- include("partials/header.ejs"); -%>


  <div class="">
    <div class="card bg-dark text-white">
      <img src="./images/home_img.jpg" class="card-img" alt="home-img">
      <div class="card-img-overlay">
        <!-- <h5 class="card-title">Card title</h5> -->
        <h1 class="card-text">"Expressing narratives through storytelling and poetry"</h1>
      </div>
    </div>


<%- include("partials/footer.ejs"); -%>
