<%- include("partials/header.ejs"); -%>

<h1 class="page-title">Poetry</h1>

<div class="middle-container">
  <div class="links">

    <div class="single-link">
      <h4><a href="http://www.kwelijournal.org/poetry-1/2018/11/19/open-by-tomas-nieto" target="_blank">"Open"</a></h4>
      <label>Kweli</label>
    </div>

    <div class="single-link">
      <h4><a href="http://www.kwelijournal.org/poetry-1/2018/11/19/my-california-by-tomas-nieto" target="_blank">"My California"</a></h4>
      <label>Kweli</label>
    </div>

    <div class="single-link">
      <h4><a href="http://www.tayoliterarymag.com/tomas-nieto" target="_blank">"Two Poems"</a></h4>
      <label>Tayo Literary Magazine</label>
    </div>

    <div class="single-link">
      <h4><a href="/404" target="_blank">"Two Sonnets"</a></h4>
      <label>Kanstellations Magazine</label>
    </div>

    <div class="single-link">
      <h4><a href="https://frictionlit.org/how-nice-it-is-to-be-here/" target="_blank">"Origami Man"</a></h4>
      <label>f(r)iction</label>
    </div>

    <div class="single-link">
      <h4><a href="https://issuu.com/afterthepause/docs/fall_2020" target="_blank">"The Goodbye"</a></h4>
      <label>After The Pause</label>
    </div>

    <div class="single-link">
      <h4><a href="https://mudseasonreview.com/2020/08/poetry-issue-51/" target="_blank">"5 Poems"</a></h4>
      <label>Mud Season Review</label>
    </div>

    <div class="single-link">
      <h4><a href="/404" target="_blank">"A Slow-Moving Storm takes its Sweet Time Rolling Across San Diego"</a></h4>
      <label>Letters From the Inside: Intersectional Reflections on Life in Lockdown Anthology (Art Spoken Madrid)</label>
    </div>

  </div>
</div>



<%- include("partials/footer.ejs"); -%>
